<%= stylesheet_link_tag "task_new" %>

<div class="new-task">
<h1>New Task</h1>
</div>
<%= render 'form' %>

<div class="newtask-div-button">
<%= link_to 'Back', category_path(@category), class: 'button' %>
</div>