  .task-list-container {
      margin: auto;
      width: 60%;
      padding: 20px;
  }

  .task-table {
      width: 100%;
      border-collapse: collapse;
  }

  .task-table th,
  .task-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
      vertical-align: middle;
  }

  .task-table th {
      background-color: #f2f2f2;
  }

  .task-table tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  .task-table tr:hover {
      background-color: #ddd;
  }

  .task-table .action-buttons {
      display: flex;
      justify-content: center;
  }

  .task-table .action-buttons .task-button {
      margin: 0 5px;
  }

  .action-buttons a,
  .back-button,
  .view,
  .add-button {
      text-decoration: none;
      color: inherit;
  }

  .add-button,
  .back-button {
      font-size: 40px;
  }


  .view,
  .task-button,
  .action-buttons a {
      padding: 3px 3px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      border: none;
  }

  .view,
  .task-button,
  .action-buttons a {
      padding: 5px 5px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      border: none;
  }

  #delete-task {
      font-size: 15px;
  }

  .view:hover,
  .task-button:hover {
      background-color: #0056b3;
  }