body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #00BFFF;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}