.task-details-box {
    width: 15%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}

.showtask-div-button {
    margin-top: 20px;
}

.showtask-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.showtask-button:hover {
    background-color: #0056b3;
}