<%= stylesheet_link_tag "category_edit" %>

<div class="edit-category">
  <h1>Edit Category</h1>
</div>

<%= render 'form' %>

<div class="div-button">
<%= link_to 'Back', categories_path, class: 'button' %>
</div>
