<%= stylesheet_link_tag "category_new" %>

<div class="new-category">
<h1>New Category</h1>
</div>
<%= render 'form'%>

<div class="div-button">
<%= link_to 'Back', categories_path, class: 'button' %>
</div>